[2018-09-13 14:33] ajaykaarthic opened #1 "I Don't have the desired modules"
![screenshot 53](https://user-images.githubusercontent.com/33996820/45495040-12992480-b790-11e8-9ab6-62bfdc7b6af0.png)

check out the picture for error.

Thanks in advance !

[2018-09-13 16:44] arunponnusamy commented on #1
Hello @ajaykaarthic , I see that you are working on Windows. Apologies. I have not tested the library extensively on Windows. If possible try it on linux. If not, I will share a temporary solution to fix this issue on Windows.

I have packaged the caffemodel and prototext file inside the python package, which are needed for applying face detection. The issue here is, on Windows, the library is sea

[2018-09-17 17:12] arunponnusamy commented on #1
Hello @ajaykaarthic , I have fixed the issue in the latest release.
Get the latest version using `pip install --upgrade cvlib`
Now it should work fine. Let me know if you face any issues. Have fun with detecting faces. Cheers.

[2018-10-02 15:08] shrybht opened #2 "Could not read frame"
Hi @arunponnusamy

I am trying to run object_detection_webcam.py.

`[ WARN:0] videoio(MSMF): OnReadSample() is called with error status: -1072875772
[ WARN:0] videoio(MSMF): async ReadSample() call is failed with error status: -1072875772
[ WARN:1] videoio(MSMF): can't grab frame. Error: -1072875772
Could not read frame`

It is unable to read the frame. Could you help me understand what went wrong

[2018-10-02 15:11] shrybht commented on #2
Also could you tell me if there are any specific commands I need to enter while running Object_detection.py?

Because I'm getting the error:
`Traceback (most recent call last):
  File "object_detection.py", line 8, in <module>
    image = cv2.imread(sys.argv[1])
IndexError: list index out of range`

Thank you.

[2018-10-03 11:42] arunponnusamy commented on #2
Hello @shrybht ,

object_detection.py accepts an input image to apply object detection. Usage is mentioned at the top of the file as comment.
[code]
Regarding object_detection_webcam.py, I guess the issue is in accessing webcam at platform level. Are you working with Windows ?

Have a look at this [issue](http://answers.opencv.org/question/197480/change-camera-size-fails-on-windows-works-on-linux/

[2018-10-03 21:11] shrybht commented on #2
Hi,
For object_detection.py, I was trying to see if its possible images can be read from a folder one after the other. Anyway, thanks for the clarification.

Meanwhile I will check the link you had mentioned for object_detection_webcam.py and get back.

Thank you.

[2018-10-06 10:32] SahithiParsi commented on #2
Same with me output is an empty array. I am able to read the image  but cv.detect_common_objects function is not giving any output.
![emptyarray](https://user-images.githubusercontent.com/16195067/46570401-2e53ad00-c981-11e8-8c58-c0783ec84c0a.PNG)

[2018-10-06 11:16] arunponnusamy commented on #2
Hello @SahithiParsi , May I know the output image you are getting ? It is showing the webcam feed correctly ? Are you getting any warning or errors while executing the script ?

[2018-10-06 11:52] SahithiParsi commented on #2
FYI - i am using windows. Anything in particular with machine?
![displayscreen](https://user-images.githubusercontent.com/16195067/46571077-4977ea00-c98c-11e8-8e86-642675299e6e.png)

[2018-10-06 12:08] arunponnusamy commented on #2
I think you guys are working with Jupyter notebook. Displaying images / webcam feed is little different on notebooks. Have a look at the below links to get an idea.
https://medium.com/@neotheicebird/webcam-based-image-processing-in-ipython-notebooks-47c75a022514
https://colab.research.google.com/drive/1N850w27QQHmJNMrZqtzsUpKWx33H0X--

[2018-10-06 13:16] pliablepixels opened #3 "tinyyolo"
Thanks for this useful library. I'd love to see tiny yolo integration too

[2018-10-06 13:54] SahithiParsi commented on #2
I think issue is not jupyter notebook. I tried object detection for image in spyder. it is also displaying an empty arrray.
I am using Opencv3.4.3, Python 3.6,

![objectdetection](https://user-images.githubusercontent.com/16195067/46571983-34a35280-c99c-11e8-8eb5-11936fcdef75.png)

Reg - version upgrades
@shrybht if you are using open cv 3.4.1 object detection modules were not updated as mentioned

[2018-10-06 14:30] arunponnusamy commented on #3
Hello @pliablepixels , glad that you are finding the library useful. I am currently working on adding tiny yolo. Will be out in the next release soon. Watch this space for updates. Cheers.

[2018-10-06 15:17] SahithiParsi commented on #2
Firstly,
it dint work
![objectdetection_output](https://user-images.githubusercontent.com/16195067/46572766-f4969c80-c9a8-11e8-812e-dcb01e60f8c7.png)
But
Surprisingly dint face any issue with yolo_opencv
![yolo_opencv_op](https://user-images.githubusercontent.com/16195067/46572749-c1540d80-c9a8-11e8-957c-6aed5c6f18cd.png)

[2018-10-06 15:31] arunponnusamy commented on #2
@SahithiParsi can you use this script from terminal with an input image ?
https://github.com/arunponnusamy/cvlib/blob/master/examples/object_detection.py
`python object_detection.py <path to input image> `
If the image is in current directory
`python object_detection.py person.jpg `

[2018-10-06 16:21] pliablepixels opened #4 "Enhancement: add option to specify config path"
The current script assumes the yolo weights are present in the default user directory inside `~cvlib`. This causes a problem if we run the script from a detached daemon. I'd like to suggest a `config` path which specifies the path to read the yolo configs from.

[2018-10-06 17:06] pliablepixels commented on #4
I'm going to close this. I assume your objective is simplicity. I think it may make more sense that I directly use the base opencv DNN if I need such customizations

[2018-10-06 17:06] #4 closed

[2018-10-09 16:28] Kidist-Abraham opened #5 "Attribute error on module cvlib"
hey @arunponnusamy I installed cvlib via pip and try a simple code like

import cvlib as cv
import cv2

cap=cv2.VideoCapture("std_camera.mp4")
while True:
    ret,image=cap.read()
    faces, confidences = cv.detect_face(image)
    print(faces)
    print(confidences)
    if cv2.waitKey(1) & 0xFF==ord('q'):
     break
cv2.release()
cv2.destroyAllWindows()

but it has an attribute error logging `modu

[2018-10-09 16:49] arunponnusamy commented on #5
Hello @Kidist-Abraham , this is weird. Have you installed the dependencies ?
`pip install numpy opencv-python requests progressbar`
I would suggest to stick to Python3 for using cvlib. Are you using `pip3` for installing the package for python3 ?

[2018-10-09 16:52] arunponnusamy commented on #1
I am closing this issue. Feel free to reopen if the issue persists.

[2018-10-09 16:52] #1 closed

[2018-10-09 20:22] ModarD opened #6 "Improve performance by limiting the detecting to one face"
Hello @arunponnusamy , Thank you for the great lib, I wonder if limiting the dnn output to one face would make the detection a bit faster?
Detection time is ~0.3 on my core i5 460M @2.53GHz
Any tips for boosting the detection time?

Thanks

[2018-10-10 06:51] Kidist-Abraham commented on #5
hey, The problem was the name of my python code. It was cvlib.py. I think the program took my code as the cvlib module. Anyway i changed the name and it works fine. Thank you.

[2018-10-10 06:51] #5 closed

[2018-10-10 16:21] ajaykaarthic commented on #1
Hey,
Sure ! I am sorry that i didn't respond.

On Tue, 9 Oct 2018 at 22:22, Arun Ponnusamy <notifications@github.com>
wrote:

[2018-10-11 08:24] leonvictor opened #8 "detect_face finds faces in the background with a greater confidence"
Hey, first of all, thanks for the great lib. I've been playing around with face detection on the [Mc-Master Pain Shoulder dataset](https://ieeexplore.ieee.org/document/5771462) to extract bounding boxes and am facing some issues.

In some cases, detect_faces returns multiple bounding boxes. No big deal, except that it gives a greater confidence to the wrongly detected background parts for no appar

[2018-10-11 13:49] arunponnusamy commented on #6
Hello @ModarD , `detect_face` function actually applies SSD object detection model on the input image. It will detect all the occurrences of the object (in this case face). I am not sure if we can limit the detection to one. We can choose not to process the detection further (avoiding drawing rectangles etc).

If you are looking for a lighter face detection method, you can use haarcascades. But ag

[2018-10-15 11:09] arunponnusamy commented on #8
Hi @leonvictor , `detect_face( )`  function actually uses `resnet10` backbone with `ssd` object detection method.
1. resnet10 is not so deep. It's a lightweight network.(That is why, it is able to run on real time input). So, it is not perfect.
2. The model being used here is actually trained on data where face is at a distance from the camera. If the face is close to the camera, (ie) if the face

[2018-10-15 11:13] arunponnusamy commented on #2
I am closing this issue. Feel free to reopen if the issue persists.

[2018-10-22 11:52] sebastiankelly1234 opened #9 "Finding"

[2018-10-22 11:52] sebastiankelly1234 opened #10 "Finding"

[2018-10-23 21:44] shrybht commented on #2
Hi Arun,

I re-did everything from the scratch and I am facing similar error as to what has been discussed above. The output is an empty array, i.e the image on webcam is being displayed but there is no bounding box around the image.

A quick question, I have earlier tried [https://github.com/arunponnusamy/object-detection-opencv](url) object detection and works perfect. May I know how to make cha

[2018-10-24 11:08] arunponnusamy commented on #2
Can you run this code from command line ?
https://github.com/arunponnusamy/cvlib/blob/master/examples/object_detection_webcam.py
`python object_detection_webcam.py`

[2018-10-24 12:51] shrybht commented on #2
I run my code on command line only.

![image](https://user-images.githubusercontent.com/43078989/47431403-bac7e300-d769-11e8-85f4-198d2c14a034.png)

![image](https://user-images.githubusercontent.com/43078989/47431519-f662ad00-d769-11e8-9435-d17e97dd667a.png)

[2018-10-25 17:37] shrybht commented on #2
i did already update it to 3.4.3.

[2018-10-26 07:07] shrybht commented on #2
`# import necessary packages
import cvlib as cv
from cvlib.object_detection import draw_bbox
import cv2
import matplotlib.pyplot as plt

# open webcam
#webcam = cv2.VideoCapture(0)
print("v=%s" % cv2.__version__)
webcam = cv2.VideoCapture(0)
h = webcam.get( cv2.CAP_PROP_FRAME_HEIGHT )
w = webcam.get( cv2.CAP_PROP_FRAME_WIDTH )
print("Camera H=%d, W=%d" % (h,w) )
# If I remove these two lines it wo

[2018-10-26 08:14] arunponnusamy commented on #2
can you try changing `frame` with `out` in the `cv2.imshow()` call ?
`cv2.imshow("Real-time object detection", out)`

[2018-10-26 15:32] arunponnusamy commented on #2
Try deleting the `.cvlib` folder in your home directory and run the script again. There might be issue in the weights file downloaded.

[2018-10-26 15:51] shrybht commented on #2
I did change the `frame` with `out` and also deleted the `.cvlib` but of no use.

[2018-10-30 18:05] AlexanderMelde commented on #3
Hey Arun, nice to see you are working on it, is there anything we could help you with? I would love to try out the tinyyolo version.

[2018-11-04 11:19] bogdan245 commented on #2
I have a similar problem. When i run the code, the output that i get it's just the image from my camera, the cvlib is not able to read any frame i think, and the camera reads the frames very slowly.

[2018-11-18 20:56] cedricve opened #11 "support for GPU"
any documentation how to run this on a GPU?

[2018-12-23 15:46] mjasonong commented on #2
It works! Thank you so much.

[2019-01-04 10:02] bogdan245 commented on #9
@arunponnusamy How can I restrict the program from drawing the rectangle and writing text over objects i dont want to detect?

[2019-01-06 09:37] arunponnusamy commented on #9
Hello @bogdan245 , if you look at the example https://github.com/arunponnusamy/cvlib/blob/eea8647495b40458bc6877ac67898ed8a3df0abf/examples/object_detection.py
`out = draw_bbox(image, bbox, label, conf)`
this is the line of code which actually draws the bounding box over detected objects in the image.  You can remove the objects which you are not interested in. For example, let's say detected obje

[2019-01-07 21:59] idaRabi opened #12 "train on new objects"
Hi,
I would like to know how can I train the yolov3 on my data.

[2019-01-28 14:39] HardlyHacker commented on #2
Where can I find .cvlib folder in windows?

[2019-02-07 10:20] hungIT1986 opened #13 "01 Motion Detection with Webcam.py"
i tried to do 01 Motion Detection with Webcam.py but i have error. please help me
(base) C:\Users\vuhun>cd desktop

(base) C:\Users\vuhun\Desktop>Motion Detection with Webcam.py
[ WARN:0] videoio(MSMF): OnReadSample() is called with error status: -1072875855
[ WARN:0] videoio(MSMF): async ReadSample() call is failed with error status: -1072875855
[ WARN:1] videoio(MSMF): can't grab frame. Error: -

[2019-02-08 00:05] ConceptCodes commented on #9
im having an issue with tensorflow-gpu

[2019-02-08 00:07] ConceptCodes opened #14 "tensorflow-gpu error"
im having an issue with tensorflow-gpu

_Originally posted by @ConceptCodes in https://github.com/arunponnusamy/cvlib/issues/9#issuecomment-461642715_

[2019-02-15 20:33] Nick-lab commented on #2
same where would this library be ??

[2019-02-16 09:47] arunponnusamy commented on #2
It will be in the home directory.
`cd ~`
Command will take you to the home directory.

[2019-02-16 09:49] arunponnusamy commented on #13
May I know at what part you are using cvlib ?

[2019-02-16 09:52] arunponnusamy commented on #14
Can you provide more details about the issue you are facing ?
Error message, system configuration, goal of the Python script etc

[2019-02-16 18:17] ConceptCodes commented on #14
This is the error I got,
 Im using a Google Colab hosted runtime with GPU & Python 3.6

it appears after i run this cell,

[code]

But it installs with no error when i run ```!pip install tensorflow-gpu```

tensorflow by itself works without error below

[code]

[2019-03-04 05:16] rkantos commented on #3
I am also interested in tinyyolo.. also yolo9000… Should they just work if I change to the respective cfg & weights to either one?

[2019-03-08 17:43] m-zare commented on #12
You can find it [here](https://pjreddie.com/darknet/yolo/).

[2019-03-12 09:26] mrudhula commented on #5
@arunponnusamy with that pkg 'pip install numpy opencv-python requests progressbar'
also my problem is not getting solved
'ModuleNotFoundError: No module named 'cvlib''

[2019-03-25 10:44] hassanahmed95 opened #15 "Face Detection's accuracy is very low"
In am trying to detect a face in the image, which has single face. I exact copied your code. But the accuracy is very low. The length of list of faces is 7 (I dont know why its length is 7.).Moreover, see the result in the attached image. It is showing 2 rectangles on facial areas. Why it is not showing up to mark results, am I missing something?

![Screenshot from 2019-03-25 15-37-20](https://use

[2019-03-25 11:24] arunponnusamy commented on #15
Please have a look at #8.

[2019-03-25 11:44] hassanahmed95 commented on #15
Hy I got it. Can you give me the reason that why CNN based face detection models fails on the images, which are near to the camera. I have tried CVLIB  face detection model and OpenCV CNN (Cafe+Resnet) model as well, both are unable to detect face in that image.
Why it is happening. . . . . . . ?

![22](https://user-images.githubusercontent.com/45063334/54917257-39919980-4f1d-11e9-817c-6c11b733673

[2019-03-25 12:45] pscheit commented on #15
I cannot help it: HE IS UGLY AS HELL and therefore not detected a s a face

(hihi, sorry for offtopic)

[2019-03-29 09:00] arunponnusamy commented on #5
@mrudhula May I know the python version you are working with and the command you are trying to execute to run the script ?

[2019-03-31 06:38] arunponnusamy commented on #3
Hi, I have added tiny yolo for real time object detection.  Just specify the model `yolov3-tiny` while calling the function `detect_common_objects( )`.  It is significantly fast but the detection accuracy / recall is very less compared to original `yolov3` version. Checkout the example here https://github.com/arunponnusamy/cvlib/blob/master/examples/object_detection_webcam_yolov3_tiny.py

[2019-04-17 22:37] Reddyforcode commented on #11
use docker "docker push alantrrs/cuda-opencv:latest"

[2019-04-23 13:09] jamesacampbell opened #16 "Other datasets besides just yolo3 and yolo3-tiny"
The complete list is in a table here: https://pjreddie.com/darknet/imagenet/#Pre-Trained-Models that includes darknet53 and others. I can do a fork and I will submit a merge request when I get it working. Thanks

[2019-04-27 13:45] ThanhNhann opened #18 "Error when import cvlib"
I use python 3.6.2 and when i run this code `import cvlib` , it's has an error, i have installed all the packages recommend but it's doesn't work.
[code]

[2019-04-28 06:11] arunponnusamy commented on #18
Looks like tensorflow is having difficulty in accessing CuDNN library.
Are you working with `tensorflow-gpu` package to run the script on the Nvidia GPU you have in your system ?

[2019-04-30 17:00] ThanhNhann commented on #18
Yeah, do u think it's the problem? If yes you know the way to fix it :((

[2019-05-01 10:44] ThanhNhann commented on #18
Thanks, I just have fixed it, thanks for your explain!

[2019-05-01 10:44] #18 closed

[2019-05-02 09:12] ThanhNhann opened #19 "How to use 68 landmarks in cvlib"
In the cvlib package, is there a method to use file `shape_predictor_68_face_landmarks.dat`?

[2019-05-07 20:06] jier commented on #9
Hi, First I am very grateful for this library you have put the effort to create. I just have a question about object-detection webcam tiny-yolo you have made. It crashes every time if it just recognise on or two objects. The error originates in draw_box  line number 52. Some examples

`['bottle', 'bottle']
Traceback (most recent call last):
  File "object_detection_tiny_yolo.py", line 37, in <modu

[2019-05-07 20:48] jier commented on #9
I figured it out, the color variable is a numpy array from
`COLORS = np.random.uniform(0, 255, size=(80, 3))
color = COLORS[classes.index(label)]
`
cv2.rectangle expect a one length array as the error suggest. So I rewrote the draw boxes myself without the different colors.

[2019-05-15 04:13] 7thstorm commented on #19
will this return the actual number of landmarks detected? I'm using dlib now and it is returning all 68 points even for profile faces. It should only return the actual number of landmarks detected. comment?

[2019-05-15 04:26] ThanhNhann commented on #19
Yeah I want to have the coordinates of the points in faces but when i read the document of cvlib, It doesn't has.

[2019-06-06 12:27] arunponnusamy commented on #19
@ThanhNhann as of now cvlib doesn't have method for landmark detection. You can use dlib directly to get the facial landmarks.

[2019-06-06 12:33] arunponnusamy commented on #19
@7thstorm dlib landmark detector is actually trained on frontal faces I believe. It will try to give all 68 points for each face. There is also 5 point landmark detector in dlib. Maybe you can give that a try.
https://github.com/davisking/dlib-models
https://www.pyimagesearch.com/2018/04/02/faster-facial-landmark-detector-with-dlib/

[2019-06-06 12:52] #3 closed

[2019-06-11 06:32] TechRova opened #20 "How to detect faces of a given persons ?"
I want to find a face of given persons that are already fed using their face images

That is , if I gave  a photo of obama and run a video (in videocapture) that contains Obama , then it have to draw a rectangle around the face and write a name tag in the rectange corner

I able to do this using face_recognation ilbrary but don't know how to do this using cvlib ?

[2019-06-20 05:54] SaddamBInSyed opened #22 "Couldn't install this Cvlib on Python 3.7.1 + pycharm + windows"
Hi there.

I am trying to run the CVLib and its examples code in pycharm and downloading the cvlib through  pip3.exe.
but I got struck while installing tensorflow.
error-
"could not find a version that satisfies the requirement tensorflow python 3.7"

could you please advise me regard this?

[2019-06-20 06:49] arunponnusamy commented on #22
Hello @SaddamBInSyed , looks like Python 3.7 is not supported by TensorFlow on Windows yet. You might have to downgrade your python version.
https://www.tensorflow.org/install/pip#package-location

[2019-06-20 06:53] SaddamBInSyed commented on #22
Hi Arun,

As instructed I am using python 3.6 64bit ( windows) now, and I have installed the requirements.txt libs

but when I try to run the example then the below error occurred.

Python 3.6.0 (v3.6.0:41df79263a11, Dec 23 2016, 08:06:12) [MSC v.1900 64 bit (AMD64)] on win32
Type "copyright", "credits" or "license()" for more information.

 RESTART: C:\Users\saddam.h.SMARTV\Downloads\cvlib-master

[2019-06-20 08:20] SaddamBInSyed commented on #22
Hi arun,

After installing the Python 3.6.1 and tensorflow 1.13.1

now its working fine,

[2019-06-20 10:06] SaddamBInSyed commented on #22
Hi Arun,

I could not download the gender_detection_model file.
please advise.

[2019-06-20 11:07] arunponnusamy commented on #22
I have fixed this cache access issue just now. Yet to release the new package to PyPI. Meanwhile you can install it using `pip install git+https://github.com/arunponnusamy/cvlib.git`. Hopefully this should solve the issue for now.

[2019-06-20 11:12] SaddamBInSyed commented on #22
Well noted with thanks.

can I have your contact details?
I am from near Chennai.

[2019-06-25 07:24] arunponnusamy commented on #20
Hi @TechRova , right now cvlib doesn't have functionality for face recognition. Probably will work on it in the future.

[2019-07-05 02:16] nyck33 opened #23 "face_detection.py for videos"
I made a Colab ready notebook with changes to `face_detection.py` in examples folder if anyone is interested:

[github link](https://github.com/nyck33/anonymous_face/blob/master/face_detection_video_py.ipynb)

Unfortunately I only know how to output as `.avi`

[2019-07-05 07:28] nyck33 opened #24 "using the CNN face detector on video"
if anyone is interested, I have this currently running in Colab:  https://github.com/nyck33/anonymous_face/blob/master/profile_faces_dlib_cnn_video.ipynb

It should work but I'll update later.

[2019-07-14 14:05] #22 closed

[2019-07-15 12:50] yensan0512 opened #25 "module 'cvlib' has no attribute 'detect_face'"
C:\xampp\htdocs\faceD>python cvlib.py
Using TensorFlow backend.
WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
2019-07-15 20:47:44.195976: I tensorfl

[2019-07-16 01:00] arunponnusamy commented on #25
Hi @yensan0512 , can you try changing the name of the script you are running from `cvlib.py` to something else like `cvlib_script.py` ?

[2019-07-16 06:38] yensan0512 commented on #25
### I have change to cvlib_script.py but it still the same,sir

C:\xampp\htdocs\faceD>python cvlib_script.py
Using TensorFlow backend.
WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations

[2019-07-16 06:46] arunponnusamy commented on #25
You can keep the import statement as
[code]
No need to change any code inside the script. The reason for changing the file name is it might confuse python while trying to import the package cvlib since the filename is also named cvlib.

[2019-07-16 13:23] yensan0512 commented on #25
It is okay, i get the output just the output will come out in two sqaure
label

On Tue, Jul 16, 2019 at 2:46 PM Arun Ponnusamy <notifications@github.com>
wrote:

[2019-08-14 10:00] mranosa opened #26 "gender detecting all faces as male"
Hello,

I am currently using your implementation against a webcam, and currently its detecting both male and female as MALE.

Is this expected?

Cheers!

[2019-08-16 10:51] arunponnusamy commented on #26
Hi @mranosa, the model was trained with very small dataset. Right now it's not really accurate. For time being, have a look at this post. https://www.learnopencv.com/age-gender-classification-using-opencv-deep-learning-c-python/
I am working on integrating this into cvlib. Will update this thread once it's done.

[2019-08-19 07:09] mranosa commented on #26
Awesome! Thanks!

[2019-09-21 22:48] ujaque opened #27 "No object detected"
Hello,
First of all I am beginner in this field and thanks in advance.
![varios1](https://user-images.githubusercontent.com/54951789/65380011-8ab6f600-dcd2-11e9-9121-948a7f2f4c47.jpg)

I have just tried the same code you provided but, the picture I am getting as an output is the same is the input. there are no squares indicating objects.

The output I get is, so it seems nothing gets detected.
Usi

[2019-09-25 11:54] #8 closed

[2019-10-11 11:33] myrzx opened #28 "module 'tensorflow.python.keras.backend' has no attribute 'get_graph'"
import cvlib
then...
AttributeError: module 'tensorflow.python.keras.backend' has no attribute 'get_graph'
What should I do?

[2019-10-11 15:54] arunponnusamy commented on #28
Hey @myrzx, do you have tensorflow installed ?

[2019-10-14 10:12] myrzx commented on #28
Yes, I did.By tensorflow. Python. Keras. In the backend get_graph to tf. Graph (), has now been solved this problem

[2019-10-21 07:26] kumaranu7 commented on #28
Hey @myrzx  i am facing the same issue

[2019-10-21 08:00] arunponnusamy commented on #28
Hey @kumaranu7, can you share the detailed steps you followed which resulted in this issue ? also the system / platform details you are running the code on and version of the packages and python?

[2019-10-21 09:01] kumaranu7 commented on #28
On executing "conda install -c conda-forge keras" in command prompt the above error appeared.
Windows 10, Python 3.6
P.S. I am trying "conda install anaconda" in command prompt followed by "conda update --all", to solve the above problem.
If any modifications are needed do let me know.

[2019-10-22 07:01] arunponnusamy commented on #28
Can you try installing cvlib and the dependencies with pip ?
I haven't tested the installation with conda.

[2019-10-22 07:23] kumaranu7 commented on #28
I am using google colab now. Thanks for your help if any problem persists on this platform i will retrieve to cvlib. Thanks for the repository.

[2019-10-29 22:47] rEufrazio commented on #11
Could you please explain better what you tried to say here? That'd be very useful for everyone if it works.

[2019-10-30 00:22] Reddyforcode commented on #11
compiling opencv for using it with the GPU is a headache and installing CUDA  for and CUDNN too, it isn't easy, but if you use docker it has inside already the configuration for using inside this container opencv with CUDA (Cuda let's you use the gpu for multiprocessing tasks)

[2019-10-30 00:22] Reddyforcode commented on #11
@rEufrazio .

[2019-11-01 14:12] T2brozz opened #29 "object Detection color"
Is there a list with all classes and thier colors? Like, Person -> violet

[2019-11-02 03:19] arunponnusamy commented on #29
Yes @T2brozz. By default, random colors are generated for the 80 object classes. You can send in a list of 80 color values to the `draw_bbox` function to use that instead of random colors.
https://github.com/arunponnusamy/cvlib/blob/master/cvlib/object_detection.py#L34
[code]
The list of 80 classes in order can be found here https://github.com/arunponnusamy/object-detection-opencv/raw/master/yolov

[2019-11-02 10:35] T2brozz commented on #29
thank you

[2019-11-08 05:49] suvodeepdebnath commented on #5
import cvlib as cv

Its not working..Help me to fix the error.

Using TensorFlow backend.
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-1-69c5c473e606> in <module>()
      2 import numpy as np
      3 import cv2
----> 4 import cvlib as cv
      5 import matplotlib.pyplot as plt

[2019-11-08 05:50] suvodeepdebnath commented on #5
import cvlib as cv
Its not working..Help me to fix it.

Using TensorFlow backend.
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-1-69c5c473e606> in <module>()
      2 import numpy as np
      3 import cv2
----> 4 import cvlib as cv
      5 import matplotlib.pyplot as plt
      6

[2019-11-08 12:03] arunponnusamy commented on #5
@suvodeepdebnath Can you check whether Keras has been installed properly ?
[code]

[2019-11-15 01:12] ShashiAdhikari opened #30 "is there anyway i can detect house in the image"

[2019-11-19 05:16] arunponnusamy commented on #30
@ShashiAdhikari There are classes like building, house etc in [OpenImages](https://storage.googleapis.com/openimages/web/index.html) dataset. There are pretrained models also available for OpenImages as open source. Check them out.

[2019-11-26 20:37] farhanc4kra commented on #28
just replacing
**from keras import backend**
with:
**from tensorflow.keras import backend**

[2019-12-05 18:40] snehri commented on #2
Hi @arunponnusamy
self.cap = cv2.VideoCapture(cv2.CAP_DSHOW)
with code [ WARN:0] videoio(MSMF): OnReadSample() is called with error status: -1072875772 [ WARN:0] videoio(MSMF): async ReadSample() call is failed with error status: -1072875772
[ WARN:1] videoio(MSMF): can't grab frame. Error: -1072875772 Could not read frame

Succesfull. But very slow and sometimes it closes. No error.
for .cvlib I

[2019-12-19 01:32] AnalyticsInAction commented on #5
I have the same "No module named 'cvlib'`  error.
Exact traceback  from my conda virtual environment is

`(cvlibenv) C:\Users\Steve\Desktop\Python Projects\cvis>testcv.py
Traceback (most recent call last):
  File "C:\Users\Steve\Desktop\Python Projects\cvis\testcv.py", line 1, in <module>
    import cvlib
ModuleNotFoundError: No module named 'cvlib'`

When checking if Keras if properly installed v

[2019-12-19 10:28] arunponnusamy commented on #5
@AnalyticsInAction I haven't actually tested with conda. Can you try installing cvlib via pip ?

[2019-12-20 03:25] AnalyticsInAction commented on #5
I installed cvlib via pip when I got that error (cvlib doesn't appear to be an option  via conda).  The rest of the required packages were installed via conda.

I have gone back and tried to do an cvlib install in a VENV virtual environment (with the  following method)

`python -m venv cvliben`
`cvliben\Scripts\activate.bat`
`pip install opencv-python tensorflow`
`pip install cvlib`

but using thi

[2019-12-21 05:31] arunponnusamy commented on #5
This seems to be a weird issue on Windows. Can you try importing keras on a python console just to check it is properly installed.
[code]
Also if possible can you try using cvlib on linux/macos ? or probably on Google Colab ?

[2019-12-21 08:16] sandip-narwade opened #31 "The 'cvlib' distribution was not found and is required by the application in PyInstaller"
I am using cvlib package in my python project. If I run python file in Linux command line its work fine without any error.

I want make it executable one file for Linux. I used PyInstaller packaged it. When run its throwing

The 'cvlib' distribution was not found and is required by the application

I am using :

1. Python : 3.6

2. PyInstaller : 3.5.

3. Cvlib: 0.2.2

4. Flask: 1.1.1.

[2019-12-21 09:50] AnalyticsInAction commented on #5
Thanks for the additional suggestions. I will be offline for the Christmas break, but will revisit these suggestions once I am back online. Cheers Steve

[2019-12-23 04:55] sandip-narwade commented on #31
@arunponnusamy Sir, Please help me to solve this issue.

[2019-12-23 07:36] AnalyticsInAction commented on #5
Yes - works fine in Colab. Simple test [ here : ](https://colab.research.google.com/drive/18qaqBbQ773komsnERpEf13on0c-nwDM0)
Might just side step the issue and  run in Linux environment rather than windows.
Cheers
Steve

[2019-12-23 09:27] arunponnusamy commented on #31
I haven't actually tried using cvlib with PyInstaller. Not sure what the problem really is.

[2019-12-23 09:29] sandip-narwade commented on #31
@arunponnusamy thank u for a reply. If you got any solution or suggestion let me know

[2019-12-23 09:34] arunponnusamy commented on #5
I think it should also work on Windows with the plain command prompt and pip (without any other external things like Anaconda).

[2019-12-23 13:57] misam72 opened #32 "What dataset have you used to making this model?"
I need to train a custom face detector model. What dataset have you used to make face detector part of this model?
Is it a public dataset?
if it's a public dataset, can you share the link of that?

[2019-12-30 22:31] AnalyticsInAction commented on #5
Thanks. I set up a virtual environment using VENV on my  Windows 10 machine, and installed the exact versions you specified above - and cvlib  now works fine.  So I will put it down to some interaction  between library versions.  Thanks for your advice  and suggestions.

[2019-12-31 08:50] arunponnusamy commented on #32
It is a ResNet10 SSD model trained on FDDB dataset by the OpenCV team.
http://vis-www.cs.umass.edu/fddb/
https://github.com/opencv/opencv/tree/master/samples/dnn

[2019-12-31 09:08] arunponnusamy commented on #5
@AnalyticsInAction Are you using Anaconda for this setup ?

[2020-01-06 22:08] rymoore commented on #27
Same issue

[2020-01-16 15:12] Kehlo commented on #28
Depending on your tensorflow version you have to find a fitting keras 2.2.x version. I was working with tf 1.13.1 and had to downgrade from keras 2.3.1 to 2.2.4. That solved the problem.

[2020-01-17 03:45] AnalyticsInAction commented on #5
@arunponnusamy Apologies, thought I had replied to the last message weeks ago.  The setup that worked didn't involve Anaconda.  Just standard pip install in a VENV virtual environment using a requirements file to specify the exact versions of the libraries you outlined above.

so
1. Create a new environment
`python -m venv cvliben`

2. Navigate to the directory
`cd C:\Users\Steve\Desktop\Python Pr

[2020-01-22 01:55] nilani-rangika opened #33 "Count objects detected using cvlib"
Hi,

In addition to detecting objects from a video, I want to count. I'm following the code here :
https://github.com/arunponnusamy/cvlib/blob/master/examples/object_detection_webcam_yolov3_tiny.py. Is that possible with cvlib?

The following is what I tried for vehicle counting.
vehiclesum.append(label.count('car') + label.count('truck') + label.count('motorcycle') + label.count('bus'))

[2020-01-25 16:45] arall commented on #9
Would be something like:

[code]

[2020-01-25 22:02] zulfiqarAlibalti commented on #28
I am also same issue please any one help .I am using pip miniconda  tf and keras.

[2020-01-27 06:45] SaddamBInSyed commented on #11
The Opencv latest branch will support CUDA (Nvidia GPU).
I have tried with nano and it using the GPU

[2020-01-27 19:24] ArnoldLalika commented on #9
Hello. Thank you I got this code from your library, which is already trained to detect cars and it works perfectly, but my concern is to use this code to detect crosswalks instead of cars, so which line of this code is dealing with the trained datasets? so as I can train my own dataset and is it possible?

import cv2
import matplotlib.pyplot as plt
import cvlib as cv
from cvlib.object_detection im

[2020-02-05 10:41] arunponnusamy commented on #33
yeah you can do that.

[2020-02-06 07:41] arunponnusamy commented on #9
@ArnoldLalika I am currently working on adding a method to use custom trained weights instead of pretrained weights. Will be adding this in the next release. Meanwhile have a look at this [blog post](https://www.arunponnusamy.com/yolo-object-detection-opencv-python.html).

[2020-02-06 22:15] nilani-rangika commented on #33
Thank you very much. Do you have any examples?

On Wed, Feb 5, 2020 at 11:41 PM Arun Ponnusamy <notifications@github.com>
wrote:

[2020-02-06 22:17] nilani-rangika commented on #33
Thank you very much. Do you have any examples? I feel it is like reverse-engineering the cvlib?

[2020-02-11 06:45] AISWARYA2019 commented on #5
I got the same error while importing "cvlib".
 `import cvlib`
![python error cvlib](https://user-images.githubusercontent.com/50544253/74215716-050b0580-4cc8-11ea-9a7d-34e2bdb717fd.JPG)
Please help, thanks.

[2020-02-17 13:27] Tousama opened #34 "ModuleNotFoundError"

[2020-02-19 09:26] Tousama commented on #34
![image](https://user-images.githubusercontent.com/16278872/74820295-d538af00-5312-11ea-8d2b-6c9eb06ff180.png)
![image](https://user-images.githubusercontent.com/16278872/74820350-eb466f80-5312-11ea-9199-9d4ca800a2ef.png)
I got an error like this. How can i fix?

[2020-02-23 13:48] rafacompu commented on #27
Try this:

`bbox, label, conf = cv.detect_common_objects(image, confidence=0.25, model='yolov3-tiny')`

I couldn't make it work in my macbook either until I tried this approach.

[2020-02-29 04:14] ChuckBolin opened #36 "draw_bbox() Line size is fixed at a value of 2 pixels"

[2020-02-29 04:22] #36 closed

[2020-02-29 04:24] ChuckBolin commented on #36
My comment was related to how the image was rendered in Jupyter Lab. I could not see the bounding box. However, if I looked at the saved image I could see the thin rectangle around my image which has a resolution of (4640, 3480, 3). I simply overlayed my own rectangles at at a linewidth of 25 so I could see the boxes in JupLab. So there is no issue. Sorry.

[2020-03-03 12:23] pdrapi commented on #28
After long hours of research what worked for me was downgrading the python version from 3.8.2 to 3.7.6, by creating the virtual environment.  It worked for Mac OS.

command : virtualenv -p /Library/Frameworks/Python.framework/Versions/3.7/bin/python3  venv
                                              ^path to the version of the python that you need                            ^name of venv
Hope th

[2020-03-10 06:25] gmt710 commented on #28
https://github.com/thoughtworksarts/EmoPy/issues/44#issuecomment-534246104

[2020-03-10 15:14] Shrawant13 commented on #28
Can you please give me the steps to do it

[2020-03-11 09:08] pdrapi commented on #28
Download python version 3.7.6 from this website: https://www.python.org/downloads/release/python-376/
Download virtual environment, for mac users in terminal type -> pip install virtualenv
I don't know what is it for windows, google it if needed.
Then create a virtual environment by using this command:
virtualenv -p /Library/Frameworks/Python.framework/Versions/3.7/bin/python3 venv
where the path

[2020-03-11 09:40] arunponnusamy commented on #28
@Shrawant13 can you try with the latest version of cvlib (0.2.4) ? I have switched from standalone keras to tf.keras . Hopefully this issue should go away.

[2020-04-06 13:28] yudingyuyihan commented on #27
如果你有看object_detection.py这个原代码，你可以发现运行detect_common_objects()函数需要下载yolov3.cfg和yolov3.weights这两个支持文件的。但是如果首次运行，你没有完全下载，那么这两个文件虽然会存在，但是内容不全。所以会导致运行detect_common_objects()返回为空。这时候你需要按shift+command+g输入/user/XXXX/.cvlib/object_detection/yolo/yolov3（如果你有看源代码的话你可以发现yolov3.cfg和yolov3.weights保存在这个隐藏文件夹下。）进入这个目录。然后通过源代码里面的连接下载好后，放在这个目录下就好了。

[2020-04-06 13:29] yudingyuyihan commented on #27
If you look at the original code of object_detection.py, you can find that to run the detect_common_objects () function, you need to download the two supporting files yolov3.cfg and yolov3.weights. But if you do n’t download it completely for the first time, these two files will exist, but the content is not complete. So it will cause detect_common_objects () to return null. At this time, you need

[2020-04-06 13:31] yudingyuyihan commented on #27
If you look at the original code of object_detection.py, you can find that to run the detect_common_objects () function, you need to download the two supporting files yolov3.cfg and yolov3.weights. But if you do n’t download it completely for the first time, these two files will exist, but the content is not complete. So it will cause detect_common_objects () to return null. At this time, you need

[2020-04-09 18:39] cronero95 opened #37 "No face detected in image"
Hello, I am doing a simple test; I take a picture with 5 faces, each in a different position, then try to detect the faces, but the "faces" list is empty.

Here is the image I used: [https://drive.google.com/open?id=1v8C-SP0nsZ4aLuyLu8f3tjA7uI6JaQ2R](url)

This is the code:

    import cvlib as cv
    import cv2

    imgColor = cv2.imread('D:/images/rostro_poses.jpg', -1)

    faces, confidences =

[2020-04-23 09:28] yudingyuyihan opened #38 "The recognition rate of pictures taken by wide-angle lens is low"
When I try to recognize a picture taken with a wide-angle lens, there are many objects that cannot be recognized

[2020-05-01 18:23] AbhijeetDebadwar commented on #28
downgrading keras to 2.2.4 solved my same issue

[2020-06-20 12:20] DieProgrammIDE opened #39 "yolov4"
Hello, do you plan to release a version which uses the much faster yolov4?
And when could I expect it?

[2020-06-20 12:36] DieProgrammIDE commented on #16
How do i get [these](https://pjreddie.com/darknet/imagenet/#Pre-Trained-Models) to work?
Which file is "label"?

[2020-06-22 13:25] #29 closed

[2020-06-22 13:26] #24 closed

[2020-06-22 13:27] #23 closed

[2020-07-06 12:17] chull434 commented on #39
+1 for this

[2020-07-08 17:46] torgrimb commented on #34
Just ran the same code which is working on my machine on a fresh virtualenv (Anaconda). Long shot: pip install scipy?

[2020-09-14 15:36] Gujar-Shubham commented on #9
I have custom trained yolo weights, cfg file, txt file How can I implement this?

[2020-09-15 01:23] arunponnusamy commented on #9
@Gujar-Shubham This has been implemented already. Have a look at the readme and examples folder.
https://github.com/arunponnusamy/cvlib#custom-trained-yolo-weights
https://github.com/arunponnusamy/cvlib/tree/master/examples

[2020-09-15 09:15] rushikesh-walke commented on #11
@arunponnusamy Sir, I am getting this error and the code is not running on gpu, please help

cudart64_101.dll not found

I have that file already at the location and updated all m drivers and other requirements. Please help.

[2020-09-30 14:37] pengKiina commented on #39
+1 for custom trained model

[2020-10-20 04:09] LukeBilsborrow opened #40 "Invalid bounding boxes returned occasionally"
Sometimes the bounding boxes returned by the detect_faces method are invalid.
I'm having a issue where some bounding boxes have the same start and end x (zero total width) and sometimes the start_y is LARGER than end_y.

Any idea why this might be? These boxes are clearly not as intended

[2020-10-21 15:14] arunponnusamy commented on #40
Hey @LukeBilsborrow , can you share a sample image and the code you are using so that I can reproduce this issue on my end and see what's going on ?

[2020-11-22 21:29] rabihiawaludin commented on #9
Hi, I want to detect fish. But no data in common objects. How to define new data like "fish"? Thank you

[2021-01-11 06:13] arunponnusamy commented on #39
Support for inference with pre-trained and custom trained `YOLOv4` and `YOLOv4-tiny` models has been added in the latest release `cvlib 0.2.6`.

[2021-01-29 04:46] ronkeyx5 opened #43 "Is there a way of using face recognition?"
Hi, I'm working in a project using face-recognition package but in cpu it's really slow so instead of doing the face detection with that I wanted to use this one buuut now I don't know how to compare the faces.

- So far my code used face_recognition to load the saved faces
- Then cvlib is used to face detection using the camera
- And this is where I can't make it work, comparing the "saved_faces"

[2021-01-29 05:14] #43 closed

[2021-03-02 04:30] tommy3266 commented on #28
try the tensorflow version==1.15.3 and keras version==2.2.4,it works,trust me!

[2021-04-19 19:54] rvencu opened #44 "How to add text as object to be detected"
I have a pile of images and I want to find and exclude all images that contain any bit of text. I already used this library to exclude images containing people so I wonder how to adjust the library to add the text object as well.

I am not interested in any OCR and such, just the presence of a new bounding box with text description on it.

[2021-05-07 12:20] atinshakya commented on #37
### **using this code
import cv2

# Load Trained cascade classifier

face_cascade = cv2.CascadeClassifier('C:/Users/Atin/Desktop/haarcascade_frontalface_default.xml')

#Read the given image

img = cv2.imread('C:/Users/Atin/Downloads/group.jpg')

# Convert color image into grayscale

gray_image = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)

# Dectect face ROI

#syntax: classifer.detectMultiScale(input im

[2021-05-20 10:07] EthanWill059 commented on #34
`pip install opencv-python tensorflow`

Try that

[2021-05-20 10:59] #34 closed

[2021-06-03 20:57] DieProgrammIDE commented on #39
Noice! And yolov5 :)

[2021-11-01 21:35] tomgit-com opened #46 "Unable to execute object_detection"
As of rather recently I am unable to use object_detection, whereas everything else seems to work rather fine.
It boils down to that error message:

[code]

It runs fine on my old Win10/11 installation from a couple of months ago, however accessing the same script from a WSL machine on the exact same PC results in the error above. I'm also getting the same from a new macOS setup.

[2021-11-03 08:40] claudia-hm commented on #46
Hello, I am using ubuntu and I run to the same error

[2021-11-03 14:00] tomgit-com commented on #46
I have found a temporary workaround.

If you change in line 29
`output_layers = [layer_names[i[0] - 1] for i in net.getUnconnectedOutLayers()]`

to (removing the typechange from list to value)
`output_layers = [layer_names[i - 1] for i in net.getUnconnectedOutLayers()]`

in the object_detection.py script (you'll find the location in the error message) it should work again.

[2021-11-20 20:14] mihaipanait commented on #46
Besides the change mentioned by @tomgit-com I also had to comment out `i = i[0]` on line 245:
https://github.com/arunponnusamy/cvlib/blob/52a31866f17270d55079b0ab7d56c44c601c79a1/cvlib/object_detection.py#L245

[code]

[2021-11-20 23:04] tomgit-com commented on #46
I've also noticed that issues, but it happened rather lately. I don't know if there've been some changes on the pretrained models

[2021-11-21 05:05] arunponnusamy commented on #46
I think there are some changes in the latest OpenCV version. Try using with older opencv version for now. Will fix this soon.

[2021-12-08 21:04] motskin commented on #46
with openCV 4.5.3.56 works, But with 4.5.4.58, 4.5.4.60(latest) doesn't work.

[2022-01-06 02:03] Anugaradhawa opened #49 "library not working"
I run this below code. it does not detect objects. detecting window also not working. please anyone help me

import cv2
import matplotlib.pyplot as plt
import cvlib as cv
import urllib.request
import numpy as np
from cvlib.object_detection import draw_bbox
import concurrent.futures

url='http://192.168.1.6/cam-hi.jpg'
im=None

def run1():
    cv2.namedWindow("detection", cv2.WINDOW_AUTOSIZE)
    w

[2022-01-20 13:54] Fly-Pluche opened #50 "About Error invalid index to scalar variable in object_detection.py"
Error:
  output_layers = [layer_names[i[0]-1] for i in net.getUnconnectedOutLayers()]
After:
  output_layers = [layer_names[i - 1] for i in net.getUnconnectedOutLayers()]

[2022-01-20 14:03] Fly-Pluche commented on #50
163行
Error：
i = i[0]
After：
#i = i[0]

[2022-01-22 08:45] Rudra7781 commented on #9
for this code

:

import cv2
import matplotlib.pyplot as plt
import cvlib as cv
from cvlib.object_detection import draw_bbox

im = cv2.imread("./cars_4.jpeg")

bbox, label, conf = cv.detect_common_objects(im)

output_image = draw_bbox(im, bbox, label, conf)

plt.imshow(output_image)
plt.show()

print('Number of cars in the image is '+ str(label.count('car')))

this is the error that i got:
------

[2022-02-15 14:16] #50 closed

[2022-04-07 06:56] Greg-Kojadinovich commented on #46
Hello, this issue still exists, I ran into it today. I followed tomgit-com and mihaipanait's comments and it worked. Thank you for the direction.

[2022-05-20 15:47] Elixonus opened #51 "Add requirements.txt"
Add requirements.txt so that opencv-python and tensorflow is automatically installed when contributing.

[2022-05-26 12:52] aWindTalker commented on #28
&nbsp; &nbsp; &nbsp;thanks for your help!
Good luck!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "arunponnusamy/cvlib"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月26日(星期四) 晚上8:50
***@***.***&g

[2022-10-31 17:20] NicholasCrets opened #52 "'str' object has no attribute 'shape'"
When I try to use a function, do i get the error:

Traceback (most recent call last):
  File "E:/python/test-object-detectie1.py", line 4, in <module>
    bbox, label, conf = cv.detect_common_objects('object_detection_input.jpg')
  File "C:\Users\MyUserName\AppData\Local\Programs\Python\Python310\lib\site-packages\cvlib\object_detection.py", line 77, in detect_common_objects
    Height, Width = im

[2022-11-06 05:12] arunponnusamy commented on #52
You need to read the image before passing it to `detect_common_objects` function.
[code]
Checkout this complete [example](https://github.com/arunponnusamy/cvlib/blob/master/examples/object_detection.py).

[2022-11-11 11:08] NicholasCrets commented on #52
As i try that, i get the second error:`Traceback (most recent call last):
  File "G:\SR4E1\test-object-detectie1.py", line 12, in <module>
    bbox, label, conf = cv.detect_common_objects(image)
  File "C:\Users\philippechristl\AppData\Local\Programs\Python\Python310\lib\site-packages\cvlib\object_detection.py", line 77, in detect_common_objects
    Height, Width = image.shape[:2]
AttributeError:

[2022-11-20 11:48] arunponnusamy commented on #52
Make sure that you are giving the correct path to the input image while reading using `cv2.imread`. Try giving the complete path to the image. For example, if the image is in `SR4E1` folder, try using the path as below.
[code]
Checkout this [Colab notebook](https://pages.visiongeek.io/object-detection-cvlib) to learn more.

[2022-11-25 08:08] arunponnusamy commented on #52
Can you share the complete code and input image you are using ? Let me try to reproduce this error on my end for debugging. Please share the version of OpenCV, cvlib and Python as well.

[2022-11-25 19:43] NicholasCrets commented on #52
python version = 3.10.8
cvlib version = 0.2.7
OpenCV version = 1.0.0
image = [https://github.com/arunponnusamy/cvlib/blob/master/examples/images/object_detection_input.jpg](url)

`import cvlib as cv
from cvlib.object_detection import draw_bbox
import sys
import cv2

# read input image
image = cv2.imread(sys.argv[1])

# apply object detection
bbox, label, conf = cv.detect_common_objects(image)

pri